In [1]:
import numpy as np
import pandas as pd

In [4]:
T_Survival = pd.read_csv("train.csv")
print(T_Survival.head())
print(T_Survival.tail())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [17]:
#数据中NAN的处理——找到数据中所有的NAN的值
age = T_Survival["Age"]
#print(age.loc[0:10])
age_is_null = pd.isnull(age)
#print(age_is_null)
age_null_true = age[age_is_null]
#print(age_null_true)
#缺失值的处理
#未处理缺失值的效果
#mean_age = sum(T_Survival["Age"])/len(T_Survival["Age"])
#print(mean_age)
#处理之后的效果
good_ages = T_Survival["Age"][age_is_null == False]
#print(good_ages)
correct_mean_age = T_Survival["Age"].mean()
print(correct_mean_age)

29.69911764705882

In [46]:
# 不同舱位获救的比例
passenger_survival = T_Survival.pivot_table(index="Pclass",values="Survived",aggfunc=np.mean)
print(passenger_survival)
print("*"*20)
#每个舱位的平均票价
fare_class = T_Survival.pivot_table(index="Pclass",values="Fare",aggfunc=np.mean)
print(fare_class)
print("*"*20)
#每个舱位的平均年龄
passenger_age = T_Survival.pivot_table(index="Pclass",values="Age",aggfunc=np.mean)
print(passenger_age)
print("*"*20)
#总的获救人数的数量
port_stats = T_Survival.pivot_table(index="Embarked",values=["Fare","Survived"],aggfunc=np.sum)
print(port_stats)
print("*"*20)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363
********************
             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550
********************
              Age
Pclass
1       38.233441
2       29.877630
3       25.140620
********************
                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217
********************